html, body {
    height:100%;
    width:100%;
    color: #fbfbfb;
    font-family: 'Roboto', sans-serif;

}

body {
    background: url("../images/small_stars.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Changes all text to white */
.text {
    color: #eeeeee;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* Navigation Bar */
.navbar {
    background: url("../images/small_stars.jpg");
}
.dropdown-menu {
    background: transparent;
}

/* About Me */
.btnTxt {
    border: 2px solid #fbfbfb;
    border-radius: 5px;
    padding:5px;
}

#aboutme a {
    margin:1.4rem;
}

#aboutme a:hover {
    color:#2b2b2b;
    background: #fbfbfb;
}

/*Skills */
#skills {
    display: none;
}

.fa-java {
    color: #f89820;
}

.fa-html5 {
    color:#e34f26;
}

.fa-css3 {
    color:#264de4;
}

.fa-python {
    color:#4b8bbe;
}

.fa-java,  .fa-html5, .fa-css3, .fa-python {
    font-size: 1.5rem;
}

/* Socials */
#socials {
    display:none;
}

#socials h6 {
    font-size: 1rem;
}

#socials a:hover, #skills a:hover {
    color:#fbfbfb;
}

.fa-envelope, .fa-github, .fa-linkedin {
    font-size: 15px;
}

.fa-github {
    color:#4078c0;
}

.fa-linkedin {
    color:#0077B5;
}


/* Media Queries
 No media queries for less than 576px devices since
 its the default in Bootstrap.
*/

/*Small devices (landscape phones, 576px and up*/
@media (min-width: 576px) {


    /* Navbar */
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size:1rem;
    }

    /* About Me */
    .hello {
        font-size:2.5rem;
    }

    .edu {
        font-size:1.5rem;
    }

    .goal {
        font-size:1.2rem;
    }

    #aboutme a {
        font-size:1.1rem;
    }

    #socials h6 {
        font-size:1.2rem;
    }

    .fa-java, .fa-html5, .fa-css3, .fa-python {
        font-size:2rem;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /* Navbar */
    .navbar-brand {
        font-size: 1.7rem;
    }

    .nav-link {
        font-size:1.4rem;
    }

    .dropdown-item a {
        font-size: 5rem; !important;
    }

    /* About Me */
    .hello {
        font-size:3.5rem;
    }

    .edu {
        font-size:1.7rem;
    }

    .goal {
        font-size:1.4rem;
    }

    #aboutme a {
        font-size:1.3rem;
    }

    /* Socials */
    #socials h6 {
        font-size:1.5rem;
    }

    .fa-envelope, .fa-github, .fa-linkedin {
        font-size:1.5rem;
    }

    /* Skills */
    .fa-java, .fa-html5, .fa-css3, .fa-python {
        font-size:4rem;
    }

    #skills h6 {
        font-size:1.5rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .nav-link {
        font-size:1.2rem;
    }
}








