/* Projects */
.Project-img {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 2rem;
}

.Open-project-btn {
  margin-top: 1rem !important;
  margin-left: .5rem !important;
}


@media only screen and (min-width: 768px) {
  .Project-img {
    max-width: 100%;
    max-height: 15rem;
  }
}