/* Navbar */
.Navbar {
  background: #780206;  /* fallback for old browsers */
  padding: 1rem;
  background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: center;
  align-items: center;
}

.Nav-title {
  display: none;
}

.Nav-link {
  color: #EFF7FF;
  text-decoration: none;
  padding: 20px !important;
  font-size: 1rem !important;
}

.Nav-link:hover {
  border-bottom: 1px solid white;
}

.Nav-link-active {
  color: #E5A823;
}

.shadows {
    text-shadow: -15px 5px 20px #ced0d3;
    letter-spacing: -0.05em;
    user-select: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: all 0.25s ease-out;
}
.shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

@media only screen and (min-width: 768px) {
  .Nav-title {
    display: inline;
  }

  .Nav-link {
    font-size: 1.1rem !important;
  }

  .shadows {
    font-size: 2rem;
  }
}