/* Navbar */
.Navbar {
  background: #780206;  /* fallback for old browsers */
  padding-top: .5rem;
  padding-bottom: 2rem;
  background: black !important;
  align-items: center;
  border-bottom: 1px solid white;
}

.Nav-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 800 !important;
  font-size: 4vw !important;
  display: none;
}

/* Navbar links */
.Nav-link {
  color: #EFF7FF;
  text-decoration: none;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 1rem !important;
}

.Nav-link:hover {
  color: #E5A823;
}

.Nav-link-active {
  color: #E5A823;
}

.shadows {
    text-shadow: -15px 5px 20px #ced0d3;
    letter-spacing: -0.05em;
    user-select: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: all 0.25s ease-out;
}
.shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

/* Static color change animation */
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
  margin-left: 1rem;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

@media only screen and (min-width: 768px) {
  .Nav-title {
    display: inline;
    font-size: 4vw !important;
  }

  .Nav-link {
    font-size: 1.1rem !important;
  }

  .shadows {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .Nav-title {
    display: inline;
    font-size: 3vw !important;
  }
}

@media only screen and (min-width: 1200px) {
  .Nav-title {
    font-size: 1.5vw !important;
  }
}


