.App-link {
  color: #61dafb;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  padding: .5rem;
}



.About-grid {
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}


.Projects-grid {
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Grid-item {
  background-color: #282c34;
  cursor: pointer;
  border: 1px dotted #61dafb;
  margin: 2rem;
  padding: 2rem;
  color: whitesmoke;
  height: 40vh;
  width: 25vw !important;
  border-radius: 10px;
  opacity: 95%;
}

.Item-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.Title-icon {
  margin-left: 1rem;
}


/* General stuff */

.Project-languages{
  font-style: italic;
}

.Dates {
  margin-left: 1rem;
}

.Important-text {
  color: #E5A823 !important;
}

/* Center (Greeting) component */
.Greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  font-size: 1.5rem;
}

.Greeting-btns {
  margin: 2rem;
}

/* About Me section */

/* Education */
.School {
  font-size: 1.2rem;
}

.School-years {
  font-style: italic;
}

.Degree {
  font-weight: bold;
  margin-left: 3rem;
  color: #61dafb;
}

.School-list {
  margin-top: 5rem; 
}

.Grad-pic {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* Objective */
.Objective {
  margin-top: 4rem;
}

.Give-me-job {
  padding-bottom: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-bottom: 1px solid #61dafb;
  width: 80%;
}

.Objective p {
  line-height: 32px;
}

.Objective-btns {
  width: 120%;
  margin-left: 2rem;
  margin-top: 1rem;
}

.Objective-long-text {
  margin-top: 5rem;
  padding: 1rem;
}

.Dl-resume-btn {
  color: #61dafb !important;
}

.Copy-email-btn {
  color: #61dafb !important;
}

.Copy-email-alert {
  position: absolute;
  margin-top: 1rem;
  left: 30%;
  background-color: #282c34 !important;
  color: white !important;
}

/* Skills */
.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Skills-dropdown-icon {
  color: #61dafb !important;
}

/* Experience */
.Job-title {
  font-size: 1.2rem;
}

/* Project components */
.Project-img {
  height: 200px;
  width: 100%;
}

/* Icon colors */
.Education-icon {
  color: #E5A823;
}

.Experience-icon {
  color: #b59b7c;
}

.Skills-icon {
  color: red;
}

.Projects-icon {
  color: purple;
}

.Socials-icon {
  color: #FF5700; 
}

.Objective-icon {
  color: #CEE3F8;
}