/* General styles
---------------------------------------- */
ul {
  list-style: none;
}

li {
  padding: 0.5rem;
}

.highlighted-text {
  color: #E5A823 !important;
}

/* Typography and links
---------------------------------------- */
.app-link {
  color: #61dafb;
  text-decoration: none;
}

/* Layout components
---------------------------------------- */
.home,
.projects-grid {
  background: #780206;
  background: -webkit-linear-gradient(to right, #061161, #780206);
  background: linear-gradient(to right, #061161, #780206);
}

.grid-item {
  cursor: pointer;
  padding: 1rem;
  margin: 1rem 0;
  color: whitesmoke;
  width: 500px !important;
  height: 400px !important;
  opacity: 0.95;
  border-radius: 10px;
  background: #222;
  box-sizing: border-box;
}

.grid-item:hover {
  border: 1px solid #61dafb;
}

.item-title {
  font-size: 1.3rem;
  text-align: center;
}

.title-icon {
  margin-right: 0.5rem;
}

/* Typewriter component
---------------------------------------- */
.typewriter-section {
  background-image: url(/src/assets/images/static-black.gif);
}

.nav-buttons {
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
}

.typewriter-buttons {
  padding-top: 3rem;
}

.typewriter-btn {
  background: #282c34 !important;
  color: white !important;
  font-weight: bolder !important;
}

.typewriter-btn-active {
  background: #282c34 !important;
  color: #E5A823 !important;
}

.typewriter-icon {
  color: #61dafb;
  padding-right: 1rem;
}

/* Project components
---------------------------------------- */
.project-img {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 2rem;
}

.open-project-btn {
  margin-top: 1rem !important;
  margin-left: .5rem !important;
}

/* Media Queries
---------------------------------------- */
@media only screen and (min-width: 768px) {

  .nav-link {
    margin: 1rem;
    font-size: 1rem !important;
  }

  .projects-grid {
    height: 160vh;
  }

  .typewriter-section {
    height: 80vh;
    padding-top: 10vh;
  }

  .home,
  .projects-grid {
    padding-top: 3rem;
  }

  .grid-item {
    padding: 2rem;
    margin: 1rem;
    color: whitesmoke;
  }

  .nav-buttons {
    font-size: 1.5rem;
  }

  .greeting-btns {
    margin-top: 4rem !important;
  }

  .greeting-btn {
    margin-right: 1rem !important;
  }

  .project-img {
    max-width: 100%;
    max-height: 15rem;
  }
}

@media only screen and (max-width: 767px) {
  .typewriter-section {
    min-height: 60vh;
    padding-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  /* Add styles for larger screens if needed */
}