/* User Greeting component */
.Greeting {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: whitesmoke !important;
}

.Greeting-btns { 
  justify-content: center;
  margin-top: 1rem !important;
}

.Greeting-btn {
  background: #282c34 !important;
  color: white !important;
  font-weight: bolder !important;
}

.Greeting-btn-active {
  background: #282c34 !important;
  color: #E5A823 !important;
}

.Greeting-icon {
  color: #61dafb;
  padding-right: 1rem;
}

/* General & shared components */
.App-link {
  color: #61dafb;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  padding: .5rem;
}

.About-grid, .Projects-grid {
  border-top: 1px solid white;
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Grid-item {
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  color: whitesmoke;
  height: 45vh;
  width: 33rem;
  opacity: 95%;
  border-radius: 10px;
  border: 1px solid white;
  background: #000;
}

.Item-title {
  font-size: 1.3rem;
  text-align: center;
}

.Title-icon {
  margin-right: .5rem
}

.Important-text {
  color: #E5A823 !important;
}




@media only screen and (min-width: 768px) {

  .Nav-link {
    margin: 1rem;
    font-size: 1rem !important;
  }

  .Projects-grid {
    height: 160vh;
  }

  .Greeting-menu {
    height: 90vh;
    padding-top: 20vh;
    background-image: url(/src/img/old-black.jpeg) 
  }

  .About-grid {
    height: 100vh;
  }

  .About-grid, .Projects-grid {
    padding-top: 3rem; 
  }

  .Grid-item {
    padding: 2rem;
    margin: 1rem;
    color: whitesmoke;
    height: 40vh;
    border: .5px solid white;
  }

  .Greeting {
    font-size: 1.5rem;
  }

  .Greeting-btns {
    margin-top: 4rem !important;
  }

  .Greeting-btn {
    margin-right: 1rem !important;
  }
}

@media only screen and (min-width: 992px ) {
  .Grid-item {
    width: 27vw !important;
  }

  .Nav-title {
    padding-right: 8rem;
  }

}

@media (orientation: landscape) and (max-width: 960px ) {
  .About-grid, .Projects-grid {
    height: 100% !important;
  }

  .Grid-item {
    width: 60vw !important;
    height: 100vh !important;
  }
}

